@font-face {
  font-family: "icons";
  src: url("fonts/icons.ttf?o35qk") format("truetype"),
    url("fonts/icons.woff?o35qk") format("woff"),
    url("fonts/icons.svg?o35qk#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bulb:before {
  content: "\e900";
}
.icon-heart:before {
  content: "\e901";
}
.icon-pen:before {
  content: "\e902";
}
.icon-phone:before {
  content: "\e903";
}
.icon-star:before {
  content: "\e904";
}
.icon-zoom:before {
  content: "\e905";
}
.icon-bubble:before {
  content: "\e906";
}
